<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:mvc="http://www.springframework.org/schema/mvc"
     xmlns:jaxrs="http://cxf.apache.org/jaxrs"
     xmlns:core="http://cxf.apache.org/core"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop 
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://cxf.apache.org/jaxrs
         http://cxf.apache.org/schemas/jaxrs.xsd
         http://cxf.apache.org/core
         http://cxf.apache.org/schemas/core.xsd">
         
    <import resource="classpath*:/META-INF/cxf/cxf.xml"/>
    <import resource="classpath*:/META-INF/cxf/cxf-servlet.xml"/>
         
  <mvc:annotation-driven />
  <context:component-scan base-package="com.hyman.web" >
  	<context:exclude-filter type="regex" 
        expression="com.hyman.web.action.*"/> 
  </context:component-scan>
  <context:annotation-config/>    <!--开启注解 -->
  
  <context:property-placeholder location="classpath:*.properties" />
  
  <import resource="classpath*:hibernate.cfg.xml"/>
  
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" /> 
	
	<jaxrs:server id="myService" address="/api">
        <jaxrs:features>
            <core:logging/>
        </jaxrs:features>
        <jaxrs:serviceBeans>
            <bean class="com.hyman.web.webservice.UserWebServiceImpl"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
        	<ref bean="jsonProvider"/> 
        </jaxrs:providers>
        
    </jaxrs:server>
	<!--   --> 
  	<import resource="classpath*:webservice-client.xml"/>
  	<import resource="classpath*:spring-api-swagger.xml"/>
  	
  	    
</beans>  